#terminal {
    background-color: grey;
    width: 90%;
    height: 90%;
    color: greenyellow;
    overflow: scroll;
    border-radius: 10px;
    padding: 0.5%;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}